/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-7vgifljx83] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7vgifljx83] {
    flex: 1;
}

.sidebar[b-7vgifljx83] {
    background-image: linear-gradient(180deg, #000 0%, #41464b 70%);
}

.top-row[b-7vgifljx83] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Change to space-between to separate items */
    height: 3.5rem;
}

    .top-row .current-time[b-7vgifljx83] { /* Add class for current time */
        margin-right: auto; /* Ensure it stays on the left */
        text-align: left; /* Explicitly align text to the left */
    }

    .top-row a[b-7vgifljx83], .top-row .btn-link[b-7vgifljx83] {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row a:hover[b-7vgifljx83], .top-row .btn-link:hover[b-7vgifljx83] {
            text-decoration: underline;
        }

        .top-row a:first-child[b-7vgifljx83] {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-7vgifljx83] {
        justify-content: space-between;
    }

        .top-row a[b-7vgifljx83], .top-row .btn-link[b-7vgifljx83] {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-7vgifljx83] {
        flex-direction: row;
    }

    .sidebar[b-7vgifljx83] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7vgifljx83] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth a:first-child[b-7vgifljx83] {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-7vgifljx83], article[b-7vgifljx83] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-yf51bsp1wh] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-yf51bsp1wh] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-yf51bsp1wh] {
    font-size: 1.1rem;
}

.bi[b-yf51bsp1wh] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

/* Home icon */
.bi-house-door-fill-nav-menu[b-yf51bsp1wh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

/* Adding icon */
.bi-plus-square-fill-nav-menu[b-yf51bsp1wh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

/* Calendar icon */
.bi-calendar-nav-menu[b-yf51bsp1wh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-calendar' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
}

/* Reporting icon */
.bi-checkboard-nav-menu[b-yf51bsp1wh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-file-text-fill' viewBox='0 0 16 16'%3E%3Cpath d='M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1'/%3E%3C/svg%3E");
}

/* Gear icon */
.bi-gear-nav-menu[b-yf51bsp1wh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-gear-fill' viewBox='0 0 16 16'%3E%3Cpath d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z'/%3E%3C/svg%3E");
}

.nav-item[b-yf51bsp1wh] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-yf51bsp1wh] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-yf51bsp1wh] {
        padding-bottom: 1rem;
    }

    .nav-item[b-yf51bsp1wh]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-yf51bsp1wh]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-yf51bsp1wh]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-yf51bsp1wh] {
        display: none;
    }

    .collapse[b-yf51bsp1wh] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-yf51bsp1wh] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Classes.razor.rz.scp.css */
.class-item-container[b-fbdkdbv0na] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.class-item-link[b-fbdkdbv0na] {
    margin-right: auto; /* Ensures the link stays on the left */
}

.class-item-buttons[b-fbdkdbv0na] {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.class-item-details[b-fbdkdbv0na] {
    width: 100%;
    margin-top: 1rem;
}
/* /Pages/Home.razor.rz.scp.css */
.gsi-material-button[b-qm9agefbbj] {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

    .gsi-material-button .gsi-material-button-icon[b-qm9agefbbj] {
        height: 20px;
        margin-right: 12px;
        min-width: 20px;
        width: 20px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper[b-qm9agefbbj] {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents[b-qm9agefbbj] {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state[b-qm9agefbbj] {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gsi-material-button:disabled[b-qm9agefbbj] {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
    }

        .gsi-material-button:disabled .gsi-material-button-contents[b-qm9agefbbj] {
            opacity: 38%;
        }

        .gsi-material-button:disabled .gsi-material-button-icon[b-qm9agefbbj] {
            opacity: 38%;
        }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state[b-qm9agefbbj],
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state[b-qm9agefbbj] {
        background-color: #303030;
        opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover[b-qm9agefbbj] {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

        .gsi-material-button:not(:disabled):hover .gsi-material-button-state[b-qm9agefbbj] {
            background-color: #303030;
            opacity: 8%;
        }
