.class-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.class-item-link {
    margin-right: auto; /* Ensures the link stays on the left */
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.class-item-link:hover {
    text-decoration: underline;
}

.class-item-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.class-item-buttons button {
    padding: 5px 10px;
}

.class-item-buttons .btn-warning {
    background-color: orange;
    border-color: orange;
    color: white;
}

.class-item-buttons .btn-secondary {
    background-color: gray;
    border-color: gray;
    color: white;
}

.class-item-details {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of table content */
}

.table-responsive {
    display: block; /* Ensure the table is block level */
    overflow-x: auto; /* Enable horizontal scrolling for the table */
    width: 100%; /* Make sure it takes the full width */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.table {
    min-width: 100%; /* Ensure the table has at least the container's width */
}

