@page "/settings"
@attribute [Authorize]
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<PageTitle>Settings</PageTitle>

<button class="btn btn-primary" @onclick="Logout">Logout</button>

@code {
    private async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("logout");
        Navigation.NavigateTo("/");
    }
}